<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GizmoBase" version="2.12.49.1" targetFramework="net461" />
  <package id="GizmoDistribution" version="2.12.49.1" targetFramework="net461" />
  <package id="gzBase" version="2.12.49.1" targetFramework="net461" />
  <package id="gzDistribution" version="2.12.49.1" targetFramework="net461" />
</packages>